{% extends 'menu.html' %}
{% load static %}

{% block head %}
    <title>ADD BATTERY | Cerberus</title>
    <link rel="stylesheet" href="{% static 'accounts/css/base.css' %}">
{% endblock head %}

{% block menu %}
    <div class="row px-5 mt-5">
        <div class="col-md-12">
            <label class="font-size-1">BATTERY {{ asset_tag }}</label>
            <button class="btn btn-danger text-alignment" data-bs-toggle="modal" data-bs-target="#delete_modal">Delete Battery</button>
            <a href="#" class="button-1 btn btn-primary text-alignment mr-3">Update Battery</a>
            
        </div>
    </div>

    <div class="row px-5 mt-3">
    
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-12">
                        <label>Model Name : {{ model_name }}</label>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-12">
                        <label>Battery Pack Sr No : {{ battery_pack_sr_no }}</label>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-12">
                        <label>BMS Name : {{ bms_type }}</label>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-12">
                        <label>Warranty Start Date : {{ warranty_start_date }} </label>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-12">
                        <label>Warranty duration : {{ warranty_duration }}</label>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-12">
                        <label>Status : {{ status }}
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-12">
                        <label>Battery Cell Chemistry : {{ battery_cell_chemistry }}</label>
                    </div>
                </div>
            
                <div class="row mt-3">
                    <div class="col-md-12">
                        <label>Battery Pack Nominal Charge Capacity : {{ battery_pack_nominal_charge_capacity }}</label>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-12">
                        <label>Battery Pack Nominal Voltage : {{ battery_pack_nominal_voltage}}</label>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-12">
                        <label>Battery Pack Casing : {{ battery_pack_casing }}</label>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-12">
                        <label>Battery Cell Type : {{ battery_cell_type }}</label>
                    </div>
                </div>                    
            </div>
        </div>
        
    </div>

    <div class="modal" tabindex="-1" id="delete_modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Delete Battery {{ model_name }} {{ battery_pack_sr_no }}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Are You sure to delete Battery {{model_name}} {{ battery_pack_sr_no }}.</p>
                </div>
                <div class="modal-footer">
                    <form>
                        {% csrf_token %}
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-danger" id = "delete_battery" data-model= {{ battery_pack_sr_no }}>Yes, Delete</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script src="{% static 'accounts/js/base.js' %}"></script>
    
    
{% endblock menu %}