{% extends 'menu.html' %}
{% load static %}

{% block head %}
    <title>DASHBOARD | Cerberus</title>
    <link rel="stylesheet" href="{% static 'accounts/css/base.css' %}">
    <script type="text/javascript" href="{% static 'accounts/js/base.js' %}"></script>
    <script>
        if(!localStorage.getItem("access_token")){
            console.log(localStorage.getItem("access_token"))
            window.location = 'http://localhost:8080/auth/realms/cerberus-realm/protocol/openid-connect/auth?client_id=account-console&redirect_uri=http%3A%2F%2Flocalhost%3A8080%2Fauth%2Frealms%2Fcerberus-realm%2Faccount%2F%23%2F&state=1d9798a4-89d7-4158-8d96-17dd8dd73b32&response_mode=fragment&response_type=code&scope=openid&nonce=779b421c-0e69-464c-81c5-df5d625f961e&code_challenge=FrJT1u0R3x8cxOzSQdpQi-JFMo0Ymi_N4V4CcW-fc7k&code_challenge_method=S256'
            localStorage.setItem("access_token", "{{access_token}}")
        }
        
    </script>
{% endblock head %}

{% block menu %}
    <div class="row px-5 mt-5">
        <div class="col-md-12">
            <label class="font-size-1">DASHBOARD</label>
        </div>
    </div>
    <div class="row px-5 mt-3">
        <div class="col-md-4">
            <div class="dashboard-box row">
                <div class="col-md-7">
                    <label class="font-size-3 px-3 py-5">Extracting real time insights from Energy Assests</label>
                    <label class="bottom px-3 py-5 font-size-5 fw-bold">Battery Packs</label>
                </div>
                <div class="col-md-5">
                    <img class="w-100 h-100" src="{% static 'accounts/images/dashboard_icons/Battery_Packs.svg' %}">
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="dashboard-box row">
                <div class="col-md-7">
                    <label class="font-size-3 px-3 py-5">Extracting real time insights from Energy Assests</label>
                    <label class="bottom px-3 py-5 font-size-5 fw-bold">Swapping Station</label>
                </div>
                <div class="col-md-5">
                    <img class="w-50" src="{% static 'accounts/images/dashboard_icons/Swapping_Station.svg' %}">
                </div>
            </div<div class="dashboard-box"></div>
        </div>
        <div class="col-md-4">
            <div class="dashboard-box row">
                <div class="col-md-7">
                    <label class="font-size-3 px-3 py-5">Extracting real time insights from Energy Assests</label>
                    <label class="bottom px-5 py-5 font-size-5 fw-bold">Geography</label>
                </div>
                <div class="col-md-5">
                    <img class="w-75" src="{% static 'accounts/images/dashboard_icons/Geography.svg' %}">
                </div>
            </div<div class="dashboard-box"></div>
        </div>
    </div>
    <div class="row mt-5 px-5">
        <div class="col-md-4">
            <div class="dashboard-box row">
                <div class="col-md-7">
                    <label class="font-size-3 px-3 py-5">Extracting real time insights from Energy Assests</label>
                    <label class="bottom px-5 py-5 font-size-5 fw-bold">Users</label>
                </div>
                <div class="col-md-5">
                    <img class="w-75" src="{% static 'accounts/images/dashboard_icons/users.svg' %}">
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="dashboard-box row">
                <div class="col-md-7">
                    <label class="font-size-3 px-3 py-5">Extracting real time insights from Energy Assests</label>
                    <label class="bottom px-5 py-5 font-size-5 fw-bold">Vehicles</label>
                </div>
                <div class="col-md-5">
                    <img class="w-75" src="{% static 'accounts/images/dashboard_icons/vehicles.svg' %}">
                </div>
            </div<div class="dashboard-box"></div>
        </div>
        <div class="col-md-4">
            <div class="dashboard-box row">
                <div class="col-md-7">
                    <label class="font-size-3 px-3 py-5">Extracting real time insights from Energy Assests</label>
                    <label class="bottom px-5 py-5 font-size-5 fw-bold">VCU</label>
                </div>
                <div class="col-md-5">
                    <img class="w-100 h-100" src="{% static 'accounts/images/dashboard_icons/vcu.svg' %}">
                </div>
            </div<div class="dashboard-box"></div>
        </div>
    </div>
    <div class="row mt-5 px-5 mb-5">
        <div class="col-md-4">
            <div class="dashboard-box row">
                <div class="col-md-7">
                    <label class="font-size-3 px-3 py-5">Extracting real time insights from Energy Assests</label>
                    <label class="bottom px-5 py-5 font-size-5 fw-bold">IOT Devices</label>
                </div>
                <div class="col-md-5">
                    <img class="w-100 h-100" src="{% static 'accounts/images/dashboard_icons/iot_devices.svg' %}">
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="dashboard-box row">
                <div class="col-md-7">
                    <label class="font-size-3 px-3 py-5">Extracting real time insights from Energy Assests</label>
                    <label class="bottom px-5 py-5 font-size-5 fw-bold">Reports</label>
                </div>
                <div class="col-md-5">
                    <img class="w-75" src="{% static 'accounts/images/dashboard_icons/reports.svg' %}">
                </div>
            </div<div class="dashboard-box"></div>
        </div>
        <div class="col-md-4">
            <div class="dashboard-box row">
                <div class="col-md-7">
                    <label class="font-size-3 px-3 py-5">Extracting real time insights from Energy Assests</label>
                    <label class="bottom px-5 py-5 font-size-5 fw-bold">Settings</label>
                </div>
                <div class="col-md-5">
                    <img class="w-100 h-100" src="{% static 'accounts/images/dashboard_icons/settings.svg' %}">
                </div>
            </div<div class="dashboard-box"></div>
        </div>
    </div>
{% endblock menu %}