{% extends 'menu.html' %}
{% load static %}

{% block head %}
    <title>GET BATTERY | Cerberus</title>
    <link rel="stylesheet" href="{% static 'accounts/css/base.css' %}">
    <script src="{% static 'accounts/js/base.js' %}"></script>
{% endblock head %}

{% block menu %}
    <div class="row px-5 py-5 mt-5">
        <form method="post">
            {% csrf_token %}
            <div class="col-md-6">
                <label>Battery Pack Sr No :</label>
                <input type="number" class="form-control" placeholder="Enter battery pack sr no.." name="battery_pack_sr_no">
                <button class="btn btn-default button-2">Get Details</button>
            </div>
        </form>
        <div class="col-md-6">
        </div>
    </div>
{% endblock menu %}