{% extends 'base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'accounts/css/base.css' %}">
    <title>LOGIN | Cerberus</title>
    <script>
        if(localStorage.getItem("access_token")){
            window.location ="/dashboard/"
        }
    </script>
{% endblock head %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 box">
                <label class="font-size-1">Login</label>
                <div class="row mt-5">
                    <div class="col-md-6">
                        <button class="btn w-100 button-2 font-size-2">
                            <img class="logo" src="{% static 'accounts/images/logo/Google.svg' %}"> Log in with Google
                        </button>
                    </div>
                    <div class="col-md-6">
                        <button class="btn w-100 button-2 font-size-2">
                            <img class="logo" src="{% static 'accounts/images/logo/Microsoft.svg' %}"> Log in with Microsoft
                        </button>
                    </div>
                </div>
                <div class="row mt-5">
                    <div class="col-md-12">
                        <h5 class="hr-lines font-size-3 color-3">or</h5>
                    </div>
                </div>
                <form method="post">
                    {% csrf_token %}
                    <div class="row mt-5">
                        <div class="col-md-12">
                            <input type="text" class="form-control font-size-2 button-2" placeholder="Enter Phone or Email" name="email">
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-12">
                            <div class="password_div">
                                <input type="password" class="form-control font-size-2 button-2" placeholder="Password" name="password" id="password">
                                <i class="fa fa-eye clear_btn" aria-hidden="true"></i>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-6">
                            <input type="checkbox" class="font-size-3"> Remember me
                        </div>
                        <div class="col-md-6">
                            <a class="font-size-3 color-2 text-alignment" href="#">Forgot Password</a>
                        </div>
                    </div>
                    <div class="row mt-5">
                        <div class="col-md-12">
                            <button class="btn btn-default w-100 button-1 color-4 font-size-4">Login</button>
                        </div>
                    </div>
                </form>
                <div class="row mt-3">
                    <div class="col-md-12">
                        <label class="font-size-3"> Don't have an account <a class="color-2" href="{% url 'signup' %}">Register here!</a></label>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
            </div>
        </div>
    </div>
{% endblock content %}