{% extends 'base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'accounts/css/base.css' %}">
    <title>OTP | Cerberus</title>
{% endblock head %}

{% block content %}
    <div class="container">
        <div class="row box">
            <div class="col-md-6">
                <label class="font-size-1">OTP</label><br>
                <label class="font-size-3">Please Enter the 6-digit code to verify</label>
                
                <form method="post">
                    {% csrf_token %}
                    <div class="row mt-5">
                        <div class="col-md-2 px-3">
                            <input type="text" class="form-control font-size-2 button-2 otp_box">
                        </div>
                        <div class="col-md-2 px-3">
                            <input type="text" class="form-control font-size-2 button-2 otp_box">
                        </div>
                        <div class="col-md-2 px-3">
                            <input type="text" class="form-control font-size-2 button-2 otp_box">
                        </div>
                        <div class="col-md-2 px-3">
                            <input type="text" class="form-control font-size-2 button-2 otp_box">
                        </div>
                        <div class="col-md-2 px-3">
                            <input type="text" class="form-control font-size-2 button-2 otp_box">
                        </div>
                        <div class="col-md-2 px-3">
                            <input type="text" class="form-control font-size-2 button-2 otp_box">
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-12">
                            <label class="font-size-3"> Didn't receive the code? <a href="#">Re-send</a></label>
                        </div>
                    </div>
                    <div class="row mt-5">
                        <div class="col-md-12">
                            <button class="btn btn-default w-100 button-1 color-4 font-size-4">Verify</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md-6">
            </div>
        </div>
    </div>
{% endblock content %}
        