{% extends 'menu.html' %}
{% load static %}
{% block head %}
    <title>DASHBOARD | View all battery</title>
    <link rel="stylesheet" href="{% static 'accounts/css/base.css' %}">
   

{% endblock head %}


{% block menu %}
<div class="col-md-10 ">


<div class="row py-5">
   <div class="col-md-12 d-flex flex-row justify-content-between ">
      <div class="col-md-4 input-group">
         <form method="post" class="d-flex flex-row" id="view-battery-search-form">
            {% csrf_token %}
         <input type="search" class="form-control rounded" id="view-battery-search-bar" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
         <button type="submit" class="btn btn-primary" id="view-battery-search-button">search</button>
         </form>
       </div>
   </div>
</div>   

<h3 class="d-flex justify-content-center pt-4"> Battery Data</h3>

<div class="row">
   <div class="col-md-9" id="table-scrollable-div"></div>
<table  class="table table-bordered" style="border:1px solid black; overflow-x: scroll; width: 600px;">
   <thead>
   <tr >
       <th>Battery Serial Number</th>
       <th>Model Name</th>
       <th>Assigned owner</th>
       <th>IOT IMEI No</th>
       <th>Battery type</th>
       <th>BMS type</th>
       <th>IOT type</th>
       <th>Sim Number</th>
       <th>Warranty Start Date</th>
       <th>Warrenty End Date</th>
       <th>Status</th>
       <th>Battery Cell Chemistry</th>
       <th>Battery pack Nominal Voltage</th>
       <th>Battery Pack Capacity</th>
       <th>Battery Cell Type</th>
       <th>Immobilisation Status</th>
       <th>SoC</th>
       <th>Action</th>
     </tr>
   </thead> 
    {% for tag in battery_data %}
    <tbody>
    <tr>
    <td>{{tag.Battery_Serial_Number}}</td>
    <td>{{tag.Model_Name}}</td>
    <td>{{tag.Assigned_owner}}</td>
    <td>{{tag.IOT_IMEI_No}}</td>
    <td>{{tag.Battery_type}}</td>
    <td>{{tag.BMS_type}}</td>
    <td>{{tag.IOT_type}}</td>
    <td>{{tag.Sim_Number}}</td>
    <td>{{tag.Warranty_Start_Date}}</td>
    <td>{{tag.Status}}</td>
    <td>{{tag.Battery_Cell_Chemistry}}</td>
    <td>{{tag.Battery_pack_Nominal_Voltage}}</td>
    <td>{{tag.Battery_Pack_Capacity}}</td>
    <th>{{tag.Battery_Cell_Type}}</th>
   <th>{{tag.Immobilisation_Statu}}s</th>
   <th>{{tag.SoC}}</th>
    <td>Action</td> 
    </tr>
   </tbody>
    {% endfor %}
    
   </table>
   </div>
   </div>
</div>
{% endblock menu %}   