{% load static %}
<!doctype html>
<html lang="en">
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"><link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'accounts/css/base.css' %}">
    <script src="https://kit.fontawesome.com/a6c479c4d6.js" crossorigin="anonymous"></script>

    <script type="text/javascript" src="{% static 'accounts/js/base.js' %}"></script>
    
    {% block head %}
        <title>Menu | Cerberus</title>
    {% endblock head %}
  </head>
  <body>

    <div class="row inactive-menu-icon-bg">
        <div class="col-md-1">
            <div class="row py-5">
                <div class="col-md-12 text-center d-flex align-items-center justify-content-center">
                    <div class="profile_pic px-3 py-3">
                        <img src="{% static 'accounts/images/icons/02-Users.svg' %}">
                    </div>
                </div>
            </div>
            <div class="nav flex-column nav-pills text-center" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                
                <a class="nav-link" id="home-tab" data-toggle="pill" href="{% url 'dashboard' %}" role="tab">
                    <img class="icon" src="{% static 'accounts/images/icons/01-home-dasboard.svg' %}">
                </a>
                <a class="nav-link" id="profile-tab" data-toggle="pill" href="#profile-tab" role="tab">
                    <img class="icon" src="{% static 'accounts/images/icons/02-Users.svg' %}">
                </a>
                <a class="nav-link" id="battery-tab"  data-toggle="pill" href="{% url 'battery_crud' %}" role="tab">
                    <img class="icon" src="{% static 'accounts/images/icons/03-Battery.svg' %}">  
                </a>
                <a class="nav-link" id="swapping-station-tab" data-toggle="pill" href="#swapping-station-tab" role="tab">
                    <img class="icon" src="{% static 'accounts/images/icons/04-Swapping_station.svg' %}">
                </a>
                <a class="nav-link" id="geography-tab" data-toggle="pill" href="#geography-tab" role="tab">
                    <img class="icon" src="{% static 'accounts/images/icons/05-Geography.svg' %}">
                </a>
                <a class="nav-link" id="vehicles-tab" data-toggle="pill" href="#vehicles-tab" role="tab">
                    <img class="icon" src="{% static 'accounts/images/icons/06-Vehicles.svg' %}">
                </a>
                <a class="nav-link" id="vcu-tab" data-toggle="pill" href="#vcu-tab" role="tab">
                    <img class="icon" src="{% static 'accounts/images/icons/07-VCU.svg' %}">
                </a>
                <a class="nav-link" id="iot-tab" data-toggle="pill" href="#iot-tab" role="tab">
                    <img class="icon" src="{% static 'accounts/images/icons/08-IOT.svg' %}">
                </a>
                <a class="nav-link" id="reports-tab" data-toggle="pill" href="#reports-tab" role="tab">
                    <img class="icon" src="{% static 'accounts/images/icons/09-reports.svg' %}">
                </a>
                <a class="nav-link" id="settings-tab" data-toggle="pill" href="#settings-tab" role="tab">
                    <img class="icon" src="{% static 'accounts/images/icons/10-settings.svg' %}">
                </a>
                <a class="nav-link" id="complaint-tab" data-toggle="pill" href="#complaint-tab" role="tab">
                    <img class="icon" src="{% static 'accounts/images/icons/11-complaint.svg' %}">
                </a>
            </div>
        </div>
        <div class="col-md-11 border-start">
            {% block menu %}
                <div class="container">
                    
                </div>
                
            {% endblock menu %}
        </div>
    </div>
    <div class="battery_submenu h-100 bg-white">
        <a href="#">Add Battery</a>
        <a href="#">View Batteries</a>
    </div>

    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  </body>
</html>
