{% extends 'menu.html' %}
{% load static %}
{% block head %}
    <title>DASHBOARD | View all battery</title>
    <link rel="stylesheet" href="{% static 'battery_module/css/base.css' %}">
   

{% endblock head %}
{% block menu %}
{% if message %}
<div class="row ml-4 d-flex justify-content-between">
<div class="col-md-4" id="success-pop_message" >
    <div class="alert alert-success alert-dismissible" id="success-alert-poppup">
        <div class="callout" data-closable>
            <div class="d-flex justify-content-between align-items-center">
                <p>Allocate success</p>
                <button class="close-button" type="button">
                    <span aria-hidden="true">&times;</span>
                  </button>
            </div>
          </div>
      </div>
</div>
</div>
<!-- <script> 
    let success_id=document.getElementById("success-pop_message");
    function cancelButton_Click(){
        console.log("hellobuttton is clecked",success_id)
       success_id.style.visibility ="hidden";
    }
    </script> -->
{% endif %}
<div class="row mt-5 p-5">
    <div class="col-md-12">
        <form method = "post">
            {% csrf_token %}
                <div class="input-group">
                <input type= "text" class="form-control button-2" name="assert_tag_battery"  id="updated_battery_pack_sr_no"  value="{{ data.assert_no }}" readonly>
                <select id="updated_model_name" class="btn btn-light button-2  mx-1" name="model_name" required>
                <option value="" disabled selected>--- Assign ---</option>
                
                {% for tag in data.assign_list %}
                <option value="{{ tag.asset_tag}} + {{tag.type_ }}" >{{ tag.asset_tag}} </option>
                {% endfor %}
            </select>
            <!-- {{ data.battery_pack_sr_no }} -->
            <button type="submit" class="btn btn-primary" id = "allocate_battery" >Allocate</button>  
        </div>
            </form>
</div>
</div>
{% endblock menu %}   


