{% extends 'menu.html' %}
{% load static %}
{% block head %}
    <title>swap station list</title>
    <link rel="stylesheet" href="{% static 'battery_module/css/base.css' %}">
   

{% endblock head %}
{% block menu %}
<div class="row d-flex justify-content-center pl-5">
    <div class="col-md-4 ">
        <div class="card border-primary mb-3" style="max-width: 13rem; height: 199px;text-align: center; border-radius: 11%; background-color: aqua;">
            <div  style="font-size: 30px; position: relative;">Active Swap Station</div>
            <hr>
            <div style="font-size: 30px;position: relative;">5</div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card border-primary mb-3" style="max-width: 13rem; height: 199px;text-align: center; border-radius: 11%; background-color: aqua;">
            <div  style="font-size: 30px; position: relative;">Active Swap Station</div>
            <hr>
            <div style="font-size: 30px;position: relative;">5</div>
        </div>
    </div>
</div>
<hr>
<div class="row p-5 ">
    <div class="col-md-6">
        <button type="button" class="btn btn-primary" style="width:30%;">Add-Swap_Station</button>
    </div>
    <div class="col-md-4 justify-content-end">
       <form method="post" id="view-battery-search-form">
          {% csrf_token %}
          <div class="input-group mb-3">
             <input type="text" class="form-control" id="view-battery-search-bar" placeholder="Enter Battey pack serial no..." aria-label="Search" aria-describedby="search-addon" name="search_text"/>
             
             <button type="submit" class="btn btn-outline-secondary" id="view-battery-search-button">
                search
             </button> 
          </div>
       </form>
    </div>
 </div>


{% endblock menu %}