Django==4.1.2
psycopg2==2.9.5
requests==2.28.1
django-allauth==0.51.0
djangorestframework==3.14.0
django-simple-history==3.2.0
mozilla-django-oidc
drf-oidc-auth
git+https://github.com/jhuapl-boss/django-oidc.git
git+https://github.com/jhuapl-boss/drf-oidc-auth.git
git+https://github.com/jhuapl-boss/boss-oidc2.git@v2.0.0#egg=boss-oidc2